
/*------- HEADER -------*/
.logohead{
  width: 50px;
}

// /*------- MAIN-3 -------*/
.main-3{ 
    .circle, .check{
      font-size: 22px; 
      padding: 0 10px;
    }
    .platinumrot, .platinumrot2{
      margin: 15px 3px 3px -10px;
  }
    .platinumrot2{
      margin: 15px 3px 3px 15px;
    }
  .boxBtn{
    font-size: 11px !important;
  }
  .sp100{
    font-size: 6px;
  }
  .box{
    width: 98px !important;
    margin: 6px !important;
  }
  .ssl_width{
    width: 19px ;
}


}


/*------- FOOTER -------*/
footer{
  font-size: 12px !important;
  .footer_bottom{
    font-size: 12px !important;
    max-width: 655px;
    margin: 0 auto;
  
  }
  .lion{
      width: 25px;
  }
  .footerSize{
    font-size: medium !important;
  }
  .footerSize2{
    font-size: smaller !important;
  }

  .and_footer{
    font-size: 20px !important;
  }
  .AMEXSize{
    font-size: 20px !important;
  }
  .phone-girl{
      width: 150px;
  }
}
